.container{
    height: 100px;
    background-color: rgb(135, 165, 235);
    background-image: url("../img/pattern.png");
    background-size: 40% 190%;
}

.logo{
    height: 100px;
    width: 150px;
    
}

.text1{
    color: gray;
}

.text2{
    color: skyblue;
}

.evidenziato{
    background-color: yellow;
}